body {
	padding-top: 50px;
	background-image: url('../images/new-background.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}

@font-face {
	font-family: titleFont;
	src: url('../lib/ufonts.com_cc-wild-words-roman.ttf');
}

header {
	border-radius: 25px;
	background-image: url('../images/kinnereth.jpg');
	background-position: center;
	background-size: cover;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
	text-align: center;
}

.hoverShadow {
    transition: text-shadow 2s;
}


header h1:hover {
    text-shadow: 2px 2px 8px #b7babf;
}

h1:hover, h2:hover {
	text-shadow: 2px 2px 8px #b7babf;
	transition: text-shadow 2s;
}


header h1 {
	margin-top: 15px;
	font-family: titleFont;
	font-size: 4em;
}


.body-content {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: white;
    border-radius: 1em;
    overflow-x: hidden;
}


#qrCode {
    margin: 15px;
}


@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

.center-tag {
    float: none;
    margin: 0 auto;
}

.navbar-inverse {
    box-shadow: 0 8px 6px -6px #222;
}

.dl-horizontal dt{
    text-align: left !important;
}