@{
    ViewData["Title"] = "About Secret Places";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-sm-6">
        <p><strong>We strive to be a place for travelers, to share their experiences from various Places from all around the world.</strong></p>

        <p>If you want to find your next place to travel - look no further! Secret Places will let you view thousands of user reviews so you can find the perfect place for you to visit!</p>

        <p>Our planet is <strong>BEAUTIFUL</strong>, go check it out :)</p>

        <canvas id="canvas"></canvas>
    </div>
    <div class="col-sm-6">
        <video width="450" height="255" controls>
            <source src="~/videos/secret-places-about-video.mp4" type="video/mp4">
        </video>
    </div>
</div>

<script>
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var imageObj = new Image();

    imageObj.onload = function () {
        context.drawImage(imageObj, 0, 0, 150, 75);
    };
    imageObj.src = '../images/new-background.jpg';
</script>
