@{
    ViewData["Title"] = "Coffee";
}

<h2>Coffee</h2>
<p>Done with eating and want some coffee? Find the top Starbucks in NY!</p>
<hr />
<div id="res_widget" class="widget_wrap" style="width:320px;height:300px;"><iframe id="res_widget_frame" src="https://www.zomato.com/widgets/res_search_widget.php?city_id=280&chain_id=16778055&language_id=1" style="display:block;width:100%;height:100%;" border="0" frameborder="0"></iframe></div>